/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
----------------------------------------
USWDS THEME CUSTOM STYLES
----------------------------------------
!! Copy this file to your project's
   sass root. Don't edit the version
   in node_modules.
----------------------------------------
Custom project SASS goes here.

i.e.
@include u-padding-right('05');
----------------------------------------
*/

/*
* * *  Updated Header
*/
.usa-alert-banner{
  padding: 1.5rem;
  text-align:center;
  background: #162e51;
  color: #fff;
  
  a {
    color: #fff;
    margin-left:1rem;
  }
}

.usa-logo{
  margin-top:1.25rem!important;
  margin-bottom:1.25rem!important;
}

.ct-hero {
  position: relative;
  min-height: 300px;
  max-height: 500px;
  
  &-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background: rgba(97, 54, 111, 0.95);
    mix-blend-mode: multiply;
    z-index: 2;
    
    @media (min-width: 64em) {
      background: linear-gradient(89.97deg, rgba(97, 54, 111, 0.95) 50.57%, rgba(97, 54, 111, 0) 69.85%);
    }
  }
  
  &-title {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: 2;
    align-items: center;
    justify-content: flex-start;
    
    h1 {
      color: #ffffff;
      position: relative;
      z-index: 5;
    }
  }
  
  &-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: 1;
    background-size: cover;
    background-position: center;
  }
}

.ct-header {
  background-color: #20507f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  
  &-logo {
    position: relative;
    
    a {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 60px;
    }
  }
}
.gsc-search-button.gsc-search-button-v2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 40px;
  padding: 0;
  width: 40px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.ct-translations {
  margin-left: auto;
  color: #fff;
  position: relative;

  &-label {
    border: .25rem solid transparent;
  }

  input {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap; /* added line */
    border: 0;

    &:focus~.ct-translations-label {
      border-color: #2491ff;
    }

    &:checked~.ct-translations-label {
      background-color: #162e51;
    }
    &:checked~.ct-translations-list {
      display: block;
    }
  }
  
  .usa-nav__submenu-item {
    border-top: none;
  }
}
.ct-translations-list {
  position: absolute;
  background: #162e51;
  right: 0;
  top: 2.5rem;
  z-index: 1000;
  width: 250px;
  padding: 0;
  display: none;
  list-style: none;
  a {
    display: block;
    padding: .75rem 1rem;
    font-size: .87rem;
    color: #fff;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  .usa-translate__power {
    padding: .5rem 1rem;
  }
  svg {
    height: 30px;
  }
}
.ct-translations-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 1rem;
  img {
    margin-right: 7px;
    height: 24px;
  }
}

.wp-block-image,
.wp-block-media-text__media {
  margin-left: 0;
  margin-right: 0;
  
  img {
    height: auto;
  }
}

.usa-overlay.is-visible ~ .usa-header {
  .usa-menu-btn {
    background-color: #61366F;
    color: #ffffff;
    height: 3rem;
    min-height: 70px;
  }
}

.usa-sidenav > .has-current > button {
  @extend .usa-current;
}

.usa-menu-btn {
  color: #61366F;
  background-color: transparent;
  cursor: pointer;
  height: auto;

  svg {
    height: 18px;
    width: 20px;
    margin-right: 7px;
  }

  path {
    fill: #61366F;
  }

  &:hover {
    background-color: #61366F;
    color: #ffffff;

    path {
      fill: #ffffff;
    }
  }
}

.usa-nav.padding-0 {
  padding: 0 !important;
}

.usa-prose {
  font-size: 1.125rem;
  
  h1 {
    font-size: 3rem;
    line-height: 1.15;
    margin: 0;
    margin-bottom: 1rem;
  }
  
  h2 {
    font-size: 1.75rem;
    font-weight: bold;
    color: #61366F;
    line-height: 1.25;
    margin-top: 2.75rem;
    margin-bottom: .25rem;
  }
  
  h3 {
    font-size: 1.4rem;
    font-weight: bold;
    color: #1b1b1b;
    line-height: 1.5;
    margin-top: 1rem;
    margin-bottom: .25rem;
  }
  
  h4 {
    font-size: 1.3rem;
    font-weight: bold;
    color: #61366F;
    line-height: 1.25;
    margin-top: 1.25rem;
    margin-bottom: .25rem;
  }
  
  h5 {
    font-size: 1.25rem;
    font-weight: bold;
    color: #1b1b1b;
    line-height: 1.25;
    margin-top: .75rem;
    margin-bottom: .25rem;
  }
  
  h6 {
    font-size: 1.2rem;
    font-weight: bold;
    color: #61366F;
    line-height: 1.25;
    margin-top: .75rem;
    margin-bottom: .25rem;
  }
  
  p {
    font-size: 1.125rem;
    font-weight: regular;
    color: #1b1b1b;
    line-height: 1.75;
    margin-top: .5rem;
    margin-bottom: .5rem;
  }
  
  ul {
    font-size: 1.125rem;
    font-weight: regular;
    color: #1b1b1b;
    line-height: 1.75;
    margin-top: 0;
    margin-bottom: 1rem;
  }

  figure {
    margin-left: 0;
    margin-right: 0;

    iframe {
      width: 100%;
    }
  }
}

.usa-button--white:hover {
  background-color: #efefef;
}

.font-sans-5xl {
  font-size: 3rem;
}

.bg-ct-blue {
  background-color: #09538B;
}

.bg-footer {
  margin-top: 5rem;
  background-color: #053756;
}

.text-ct-blue {
  color: #09538B;
}

.text-oec-purple {
  color: #61366F;
}

.usa-sidenav {
  padding-left: 1.75rem;
}

.sidebar {
  .menu-trigger {
    &:checked ~ .menu-control div {
      background-image: url(../img/angle-arrow-up-white.svg);
    }

    &:checked ~ .menu-content {
      display: block !important;
    }
  }

  .menu-control {
    background: #f0f0f0;
    display: none;
    font-weight: bold;
    padding: 0.825rem 1rem;
    font-size: 1.125rem;

    @media (max-width: 1024px) {
      display: block;
    }
    
    div {
      background-image: url(../img/angle-arrow-down.svg);
      background-position: right center;
      background-size: 15px;
      background-repeat: no-repeat;
    }
  }

  .widget {
    margin-bottom: 24px;
  }

  .widget-title {
    margin: 0;
    background-image: url(../img/plaid.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    padding: 0.5rem 1rem;
    line-height: 1.1;
  }
  
  .menu-content .usa-sidenav {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (min-width: 1024px) {
  .sidebar {
    .widget-title {
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
    }
  }
}

.news-promo-item:not(:last-child) {
  .news-promo-content {
    border-bottom: 1px solid #d1d1d1; 
  }
}

#filter-trigger {
  display: inline-block;
  background-image: url(../img/angle-arrow-down-white.svg);
  background-position: right 0.75rem center;
  background-size: 15px;
  background-repeat: no-repeat;
  padding-right: 3rem;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
  background-color: rgb(97,54,111);
  margin: 0;
  max-width: 50%;

  &.is-active {
    background-image: url(../img/angle-arrow-up-white.svg);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.usa-sidenav .usa-current:after {
  left: -0.75rem !important;
}

.usa-sidenav__item {
  button,
  a {
    padding-left: 0;
  }
  
  &.has-current {
    & > button {
      font-weight: bold;
    }
  }

  &.is-active {
    & > button {
      background-image: url(../img/angle-arrow-up-primary.svg);
      font-weight: bold;
    }
  }

  .usa-sidenav__sublist {
    margin-left: 1.5rem;

    .usa-sidenav__item {
      border-top: none;
      margin-left: -0.75rem;
    }

    .usa-current {
      background: #ffffff;
    }

    button,
    a {
      padding-left: 0.75rem;
    }
  }

  button {
    background-color: transparent;
    border: none;
    appearance: none;
    display: block;
    cursor: pointer;
    width: 100%;
    text-align: left;
    padding: 0.5rem 0;
    color: #565c65;
    background-image: url(../img/angle-arrow-down.svg);
    background-position: right center;
    background-size: 15px;
    background-repeat: no-repeat;
    padding-right: 2rem;
  }
}

@media (min-width: 64em) {
  .font-sans-5xl {
    font-size: 4.375rem;
  }
}

.b {
    left: 50%;
    position: relative;
    transform: translate(-50%,0);
    width: 100vw;
    display: flex;
    flex-direction: column;

    @media (min-width: 46em) {
      flex-direction: row-reverse;
      min-height: 350px;

      &--wave {
        background-size: cover;
        background-position: top right;
        position: relative;
        z-index: 1;
        margin-right: 30%;
      }

      &--hero {
        min-height: auto;
        position: absolute;
        background-size: contain;
        z-index: 0;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
      }

      .maxw-tablet {
        max-width: 420px;
      }
    }

    @media (min-width: 64em) {
      flex-direction: row-reverse;
      min-height: 400px;

      &--wave {
        margin-right: 25%;
      }

      .maxw-tablet {
        max-width: 600px;
      }
    }

    @media (min-width: 80em) {
      &--wave {
        margin-right: 300px;
      }
    }

    &--wave {
      background-position: top left;
      background-size: 1000px;
      background-repeat: no-repeat;
      width: 100vw;
      display: flex;
      align-items: center;

      .maxw-tablet {
        max-width: 500px;
      }
    }

    &--hero {
      background-position: top right;
      background-size: cover;
      background-repeat: no-repeat;
      width: 100%;
      min-height: 350px;
    }

    .text-white {
        a {
            color: #ffffff !important;
        }
    }

    &--cta {
        a {
            color: #ffffff;

            &:hover {
                text-decoration: none;
            }
        }

        p {
            margin-bottom: 0;
        }
    }

    &--commissioner {
        background-color: #09538B;
    }
}

.usa-prose,
.breadcrumbs {
  a:link,
  a:visited,
  a:hover {
    @include u-color('blue-50');
  }

  a:hover {
    @include u-text('no-underline');
  }
}

.usa-dark-background,
.usa-hero__callout {
  @include u-bg('blue-50');

  a {
    color: #fff !important;
  }
}

.wp-block-table {
  @include u-width('full');
  
  table {
    @extend .usa-table;
    
    thead {
      th, td {
        background-color: rgb(97,54,111);
        color: rgb(255,255,255);
      }
    }
    
    th, td {
      border-color: #cacaca;
    }
  }
}

.wp-block-simple-alert {
  @include u-bg('gold-10v');
  @include u-padding('2');
  @include u-margin-top('2');
}

.bg-violet-70v {
  @include u-bg('violet-70v');
}

.sf-field-submit input {
  margin-top: 0;
}

a[href*="youtube.com"] {
    &::after {
        display: inline-block;
        content: '';
        background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj48cGF0aCBkPSJNMzcxLjcgMjM4bC0xNzYtMTA3Yy0xNS44LTguOC0zNS43IDIuNS0zNS43IDIxdjIwOGMwIDE4LjQgMTkuOCAyOS44IDM1LjcgMjFsMTc2LTEwMWMxNi40LTkuMSAxNi40LTMyLjggMC00MnpNNTA0IDI1NkM1MDQgMTE5IDM5MyA4IDI1NiA4UzggMTE5IDggMjU2czExMSAyNDggMjQ4IDI0OCAyNDgtMTExIDI0OC0yNDh6bS00NDggMGMwLTExMC41IDg5LjUtMjAwIDIwMC0yMDBzMjAwIDg5LjUgMjAwIDIwMC04OS41IDIwMC0yMDAgMjAwUzU2IDM2Ni41IDU2IDI1NnoiLz48L3N2Zz4=");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 15px 15px;
        width: 15px;
        height: 15px;
        vertical-align: middle;
        margin-left: 4px;
    }
}

.oec-icon {
    &::after {
        display: inline-block;
        content: '';
        background-position: center;
        background-repeat: no-repeat;
        background-size: 16px 16px;
        width: 16px;
        height: 16px;
        vertical-align: middle;
        margin-left: 4px;
    }

    &--pdf::after {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 512'%3E%3Cpath d='M369.9 97.9L286 14C277 5 264.8-.1 252.1-.1H48C21.5 0 0 21.5 0 48v416c0 26.5 21.5 48 48 48h288c26.5 0 48-21.5 48-48V131.9c0-12.7-5.1-25-14.1-34zM332.1 128H256V51.9l76.1 76.1zM48 464V48h160v104c0 13.3 10.7 24 24 24h104v288H48zm250.2-143.7c-12.2-12-47-8.7-64.4-6.5-17.2-10.5-28.7-25-36.8-46.3 3.9-16.1 10.1-40.6 5.4-56-4.2-26.2-37.8-23.6-42.6-5.9-4.4 16.1-.4 38.5 7 67.1-10 23.9-24.9 56-35.4 74.4-20 10.3-47 26.2-51 46.2-3.3 15.8 26 55.2 76.1-31.2 22.4-7.4 46.8-16.5 68.4-20.1 18.9 10.2 41 17 55.8 17 25.5 0 28-28.2 17.5-38.7zm-198.1 77.8c5.1-13.7 24.5-29.5 30.4-35-19 30.3-30.4 35.7-30.4 35zm81.6-190.6c7.4 0 6.7 32.1 1.8 40.8-4.4-13.9-4.3-40.8-1.8-40.8zm-24.4 136.6c9.7-16.9 18-37 24.7-54.7 8.3 15.1 18.9 27.2 30.1 35.5-20.8 4.3-38.9 13.1-54.8 19.2zm131.6-5s-5 6-37.3-7.8c35.1-2.6 40.9 5.4 37.3 7.8z'/%3E%3C/svg%3E");
    }

    &--doc::after {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 512'%3E%3Cpath d='M369.9 97.9L286 14C277 5 264.8-.1 252.1-.1H48C21.5 0 0 21.5 0 48v416c0 26.5 21.5 48 48 48h288c26.5 0 48-21.5 48-48V131.9c0-12.7-5.1-25-14.1-34zM332.1 128H256V51.9l76.1 76.1zM48 464V48h160v104c0 13.3 10.7 24 24 24h104v288H48zm220.1-208c-5.7 0-10.6 4-11.7 9.5-20.6 97.7-20.4 95.4-21 103.5-.2-1.2-.4-2.6-.7-4.3-.8-5.1.3.2-23.6-99.5-1.3-5.4-6.1-9.2-11.7-9.2h-13.3c-5.5 0-10.3 3.8-11.7 9.1-24.4 99-24 96.2-24.8 103.7-.1-1.1-.2-2.5-.5-4.2-.7-5.2-14.1-73.3-19.1-99-1.1-5.6-6-9.7-11.8-9.7h-16.8c-7.8 0-13.5 7.3-11.7 14.8 8 32.6 26.7 109.5 33.2 136 1.3 5.4 6.1 9.1 11.7 9.1h25.2c5.5 0 10.3-3.7 11.6-9.1l17.9-71.4c1.5-6.2 2.5-12 3-17.3l2.9 17.3c.1.4 12.6 50.5 17.9 71.4 1.3 5.3 6.1 9.1 11.6 9.1h24.7c5.5 0 10.3-3.7 11.6-9.1 20.8-81.9 30.2-119 34.5-136 1.9-7.6-3.8-14.9-11.6-14.9h-15.8z'/%3E%3C/svg%3E");
    }

    &--spreadsheet::after {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 512'%3E%3Cpath d='M369.9 97.9L286 14C277 5 264.8-.1 252.1-.1H48C21.5 0 0 21.5 0 48v416c0 26.5 21.5 48 48 48h288c26.5 0 48-21.5 48-48V131.9c0-12.7-5.1-25-14.1-34zM332.1 128H256V51.9l76.1 76.1zM48 464V48h160v104c0 13.3 10.7 24 24 24h104v288H48zm212-240h-28.8c-4.4 0-8.4 2.4-10.5 6.3-18 33.1-22.2 42.4-28.6 57.7-13.9-29.1-6.9-17.3-28.6-57.7-2.1-3.9-6.2-6.3-10.6-6.3H124c-9.3 0-15 10-10.4 18l46.3 78-46.3 78c-4.7 8 1.1 18 10.4 18h28.9c4.4 0 8.4-2.4 10.5-6.3 21.7-40 23-45 28.6-57.7 14.9 30.2 5.9 15.9 28.6 57.7 2.1 3.9 6.2 6.3 10.6 6.3H260c9.3 0 15-10 10.4-18L224 320c.7-1.1 30.3-50.5 46.3-78 4.7-8-1.1-18-10.3-18z'/%3E%3C/svg%3E");
    }
}

/*
----------------------------------------
Gravity Forms
----------------------------------------
*/
.gform_body .ginput_container .gfield_label {
    @extend .usa-label;
}

.gform_body .ginput_container .ginput_container_text {
    input {
        @extend .usa-input;
    }
}

.gform_footer {
    padding-top: 1rem;
}

.gform_button {
    @extend .usa-button;
}

.gform_body .ginput_container .ginput_container_checkbox {
    margin-top: 0.5rem;
}

.gform_body .ginput_container .gfield_checkbox {
    label {
        @extend .usa-checkbox__label;
        font-size: 1rem;
    }
    input {
        @extend .usa-checkbox__input;
    }
}

/*
----------------------------------------
Search filter
----------------------------------------
*/

.searchandfilter label {
  @include u-display('block');
}

.searchandfilter {
  @extend .usa-form;
}

.gform_fields,
.gform_fields ul,
.searchandfilter ul,
.sf_date_field {
  @include unstyled-list;
}

.sf-level-0 {
    margin-left: 22px !important;

    .children {
        display: none;
    }
}

.sf-input-text {
  @extend .usa-input;
}

.sf-field-submit {
  input {
    @extend .usa-button;
    background-color: #61366f;
    margin-top: 0 !important;
  }
}

[data-sf-field-input-type=checkbox] {
  .sf-input-checkbox {
    @extend .usa-checkbox__input;
  }

  .sf-label-checkbox {
    @extend .usa-checkbox__label;
  }
}

/*
----------------------------------------
Primary Nav Customizations
----------------------------------------
*/

.usa-navbar {
  .usa-logo {
    a {
      cursor: pointer;
      display: inline-block;
    }
    
    svg {
        height: 50px;
    }
  }
}

@media (max-width: 64em) {
    .usa-navbar {
        .usa-logo {
            svg {
              height: 35px !important;
              width: 36px !important;
            }
        }
    }
}

@media (min-width: 64em) {
  .usa-header--extended .usa-navbar,
  .usa-header--extended .usa-nav__inner {
    max-width: none !important;
  }

  .usa-header--extended .usa-nav__primary {
    margin-left: -0.5rem !important;
  }

  .usa-nav__secondary {
      display: flex;
      margin-top: 0 !important;
      align-items: center;

      .usa-search {
          margin-top: 0 !important;
          display: flex;
          align-items: center;
      }

      .usa-nav__link {
          @include u-font('sans', 'sm');
      }
  }
}

.usa-nav {
    .usa-nav__primary>.usa-nav__primary-item>a {
        @include u-color('base-darkest');
    }

    .usa-nav__primary {
        .usa-nav__submenu {
          z-index: 1000;
          list-style: none;
        }

        button.usa-nav__link {
          background-position: right 1rem center;
        }

        button.usa-nav__link[aria-expanded=true] {
          z-index: 1001;
        }
    }

    .usa-nav__secondary {
        .usa-nav__link {
          @include u-color('base-dark');
          @include u-font('sans', 'xs');
        }

        .usa-nav__primary>.usa-nav__primary-item>a {
          @include u-color('base-dark');
        }
    }
}

.usa-nav__secondary {
  li {
      list-style: none;
  }

  .usa-nav__link {
    @extend .border-transparent;
    @extend .border-x;
    @extend .border-top;
    position: relative;
    z-index: 100;
    white-space: nowrap;
    @include u-color('base-darkest');
    @include u-font('sans', 'md');
  }

  button.usa-nav__link[aria-expanded=true] {
    @extend .border-base-lighter;
    @include u-color('base-darkest');
    @include u-bg('white');
    background-image: url(../img/angle-arrow-up-primary.svg);
  }

  .usa-nav__submenu {
    margin-top: -1px;
    z-index: 1;
    @include u-bg('white');
    @include u-padding(0);
    @extend .border;
    @extend .border-base-lighter;

    .usa-translate__power {
      @include u-padding-y(1.5);
      @include u-padding-x(2);

      svg {
        height: 27px;
        width: 58.62px;
      }
    }

    .usa-nav__submenu-item {
      @include u-margin(0);

      a {
        @include u-color('base');
        @include u-display('block');
        @include u-padding-y(1.5);
        @include u-padding-x(2);

        &:hover {
          @include u-color('white');
          @include u-bg('primary-dark');
          @include u-padding-y(1.5);
          @include u-padding-x(2);
        }
      }
    }
  }
}

.gsc-search-box {
  margin: 0 !important;
  max-width: 250px;
}

.usa-search--big {
  display: inline-block; 
  
  .gsc-search-box {
    max-width: 400px;
  }
}

.gsc-control-cse {
  padding: 0 !important;
}

.usa-search--cse > div {
  width: 100%;
  min-width: 208px;
}

.gsc-input-box {
  padding: 0.5rem !important;
}

.gsib_b {
  display: none !important;
}

.gsib_a {
  vertical-align: top !important;
}

.gsc-input {
  padding: 0 !important;
  background: none !important;
}

.gsc-input-box {
  @extend .usa-input;
  @extend .width-auto;
  margin: 0;

  .gsib_a {
    padding: 0;
  }
}

button.gsc-search-button {
  margin: 0;
  @extend .usa-button;
  @include u-bg('white');
  padding: 11px 12px;
  border: 1px solid #dcdee0;
  border-left: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;

  &:hover {
    border: 1px solid #dcdee0;
    border-left: none;
    @include u-bg('white');
  }

  svg {
    path {
      fill: #565c65;
    }
  }
}

/*
----------------------------------------
Footer
----------------------------------------
*/

.footer-list {
  @include u-font('sans', '2xs');
  
  ul {
    @extend .usa-list;
    @extend .usa-list--unstyled;
  }

  li {
    &:not(:first-child) {
      @include u-margin-top('2');
    }
  }

  a {
    @include u-color('white');
    @include u-text('no-underline');

    &:hover {
      @include u-text('underline');
    }
  }

  .notranslate {
    @include u-display('flex');

    li {
      @include u-margin-top('0');
      @include u-margin-right('2');
    }
  }
}

/*
----------------------------------------
Scroll to top
----------------------------------------
*/
  
#scrolltotop {
  @include u-shadow(3);
  @include u-z(100);
  @include u-position('fixed');
  @include u-text('uppercase');
  @include u-right(2);
  @include u-bottom(3);

  &[hidden] {
    display: none;
  }
}

/*
----------------------------------------
Translations
----------------------------------------
*/

#google_translate_element {
  width:300px;
  float:right;
  text-align:right;
  display:block
}

.goog-te-banner-frame.skiptranslate,
.activity-root,
.status-message,
.started-activity-container { 
  display: none !important;
} 

body { 
  top: 0px !important; 
}

#goog-gt-tt, 
.goog-tooltip skiptranslate {
  display: none !important; 
  top: 0px !important; 
}

.usa-nav__translate {
  display: flex;
  align-items: center;

  &:hover {
    .usa-svg__fill {
      fill: color($theme-color-primary);
    }
  }
  
  svg {
    height: 16px;
    width: 16px;
    margin-right: 5px;
  }
}



@media print {
    * {
        background: #ffffff !important;
        border-color: #000000 !important;
        color: #000000 !important;
    }

    #logo g {
        fill: #000000;
    }

    .usa-menu-btn,
    .usa-accordion__heading,
    .footer-list,
    .notranslate,
    .usa-sidenav,
    #scrolltotop,
    header.usa-dark-background,
    .usa-nav {
        display: none;
    }
}

.wp-block-embed-youtube {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px; height: 0; overflow: hidden;
  
  .wp-block-embed__wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  iframe,
  object,
  embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}


/*
----------------------------------------
Cards
----------------------------------------
*/

.card-container {
  &:not(:first-child) {
    @media (max-width: 40em) {
      margin-top: 15px;
    }
  }
}

.card-content {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 6px;
  border-left: 4px solid #61366F;
  box-sizing: border-box;
  box-shadow: 0 0 4px rgba(0,0,0,0.25);
  width: 100%;
  padding: 20px;
  text-decoration: none;
  color: rgb(27, 27, 27);

  @media (max-width: 40em) {
    flex-direction: row;

    .card-image {
      margin-right: 15px;
      align-items: flex-start;

      img {
        width: 35px;
        height: auto;
      }
    }
  }
}

a.card-content {
  &:hover {
    .card-name {
      text-decoration: underline;
    }
  }
}

.card-name {
  font-size: 1.25rem;
  line-height: 1.1;
  font-weight: bold;
  margin-bottom: 6px;
  color: rgb(27, 27, 27);
}

.card-description {
  color: rgb(27, 27, 27);
}

.card-image {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  img {
    height: 75px;
  }
}

.searchandfilter {
  width: 100%;
  max-width: none !important;

  .sf-input-text {
    max-width: 40rem;
  }
}

.sf-field-taxonomy-news-category {
  width: 100%;

  ul {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  li {
    width: 45%;
    padding-right: 1rem !important;
    display: flex;

    @media (max-width: 1024px) {
      width: 100%;
    }
  }
}

.search-box {
  background: #ffffff;
  padding: 2rem;
  box-shadow: .1rem .25rem 1.25rem rgba(97,54,111,.1);
}

.usa-prose.type-news h3 {
  margin-top: 0;
}

.home .bg-footer {
  margin-top: 0;
}

table img {
  height: auto;
}

/*
----------------------------------------
Calendar
----------------------------------------
*/
.ll-skin-melon .ui-widget {
  background: color($theme-color-primary);
}

.ll-skin-melon .ui-datepicker .ui-datepicker-title,
.ll-skin-melon .ui-datepicker th {
  color: #fff;
  font-weight: bold;
}

.ll-skin-melon .ui-state-disabled .ui-state-default {
  color: #DDD;
}

.ll-skin-melon .ui-datepicker td {
  background: #fff;
  
  span,
  a {
    padding: 0.25rem;
    font-size: 1.125rem;
    display: block;
  }
  
  a {
    color: #000;
    font-weight: bold;
  }
}